<div>
  <input [(ngModel)]="searchQuery" placeholder="Search Pokémon" />
  <button (click)="searchPokemon()">Search</button>
</div>
<ul>
  <li *ngFor="let pokemon of pokemonList()">
    <a [routerLink]="getRouterLink(pokemon.name)">{{
      pokemon.name | titlecase
      }}</a>
  </li>
</ul>
<!-- TODO implement pagination -->
<div>
  <button (click)="goToPrevPage()">Prev Page</button>
  <span *ngFor="let page of pageNumber" (click)="loadPokemon(page)">
    {{ page + 1 }}
  </span>
  <button (click)="goToNextPage()">Next Page</button>
</div>

<button (click)="loadPokemon(currentPage() + 1)">Load More</button>
<div>
  Favorites:
  <ul>
    <li *ngFor="let pokemon of getFavs()">
      <a [routerLink]="getRouterLink(pokemon.name)">{{
        pokemon.name | titlecase
        }}</a>
    </li>
  </ul>
</div>